<h1>Reset lozinke</h1>

<p>Za resetovanje lozinke, kliknite na link ispod:</p>

<%= pass_reset_edit_url(:jwt => @user.generate_token) %>

<p>Link će postati nevažeći za 2 sata.</p>

<p>
  Ako niste zahtijevali resetovanje lozinke, ignorišite ovaj mail; vaša lozinka će ostati nepromijenjena.
</p>