<body>

<h1><label for="Make reservation" translate>MAKE_RESERVATION</label></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form name="Make reservation" style="text-align:center">

      <br />



      <input type="hidden" data-ng-model="reservation.Id" />

      <b>Name:</b>
      <input type="text" data-ng-model="reservation.Name" required />  <br />

      <br /><b>Date:</b>
      <input type="datetime" data-ng-model="reservation.Time" required /><br />

      <br /> <b>Number of people:</b>
      <input type="number" data-ng-model="reservation.number" required /><br />


      <br />
      <br />

      <button data-ng-click="submit()">Save</button>


    </form>
    </section>

  </div>
</div>
</body>
</html>